{% extends 'base.html' %}
{% block content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-6">
            <div class="icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
              <h2 data-aos="fade-up">WHY CHOOSE US</h2>

              <div class="icon-box" data-aos="fade-up">
                <div class="icon"><i class="bx bx-book-add"></i></div>
                <h4 class="title"><a href="">Convenience:</a></h4>
                <p class="description">We offer a range of services that are designed to make accessing healthcare services more convenient, from booking appointments to home sample collection and online report access.</p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-rupee"></i></div>
                <h4 class="title"><a href="">Cost-effectiveness:</a></h4>
                <p class="description">We provide cost analysis services that help you compare the costs of healthcare services across different providers, making it easy for you to find the most affordable options.</p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bx bx-equalizer"></i></div>
                <h4 class="title"><a href="">Quality of service:</a></h4>
                <p class="description">We are committed to providing high-quality medical services, such as experienced doctors, advanced diagnostic equipment, and state-of-the-art facilities.</p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bx bx-award"></i></div>
                <h4 class="title"><a href="">Trust and credibility:</a></h4>
                <p class="description">We value the trust our patients place in us and work hard to maintain our reputation for providing high-quality healthcare services.</p>
              </div>

            </div>
          </div>

          <div class="col-xl-5 col-lg-6 my-auto">
            <div class="icon-boxes">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bx bx-donate-heart"></i></div>
                <h4 class="title"><a href="">Personalization:</a></h4>
                <p class="description">We offer personalized health recommendations that are tailored to your specific health needs and concerns.</p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
                <div class="icon"><i class="bx bx-cog"></i></div>
                <h4 class="title"><a href="">Privacy and security:</a></h4>
                <p class="description">At CUREYA, we prioritize customer privacy and security, and we use secure data encryption, two-factor authentication, and compliance with data protection regulations to ensure that your personal information is safe and secure.</p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
                <div class="icon"><i class="bx bx-dollar-circle"></i></div>
                <h4 class="title"><a href="">Affordable cost:</a></h4>
                <p class="description">We understand that healthcare costs can be a significant burden on patients and their families. That's why we offer affordable healthcare services that are accessible to everyone.</p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="700">
                <div class="icon"><i class="bx bx-user-pin"></i></div>
                <h4 class="title"><a href="">High Skilled Professionals:</a></h4>
                <p class="description">Our team of healthcare professionals includes highly skilled doctors, nurses, and other medical professionals who are dedicated to providing the best possible care to our patients.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- End About Section -->
{% endblock %}