{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--
    - primary meta tags
  -->
  <title>Cureya</title>
  <meta name="title" content="Bookish - Read More And Make Success">
  <meta name="description"
    content="Read More And Make Success The Result Of Perfection. - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad harum quibusdam, assumenda quia explicabo.">

  <!--
    - favicon
  -->

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'books/css/style.css'%}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!--
    - preload image
  -->
  <link rel="preload" as="image" href="{% static 'books/images/hero-banner.png'%}">

</head>

<body>

  <!--
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="/" class="logo text-md">Cureya</a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

        </ul>
      </nav>

      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true" class="open"></ion-icon>

        <ion-icon name="close-outline" aria-hidden="true" class="close"></ion-icon>
      </button>

    </div>
  </header>
    <article>
      <section class="section hero" id="home" aria-label="home">
        <div class="container">
        <!-- <h1 class="h1 hero-title">Books Published: </h1> -->
          <div class="hero-content">

            <p class="section-subtitle">1. Healthy Eating and Meal Planning</p>

            <h3 class="h1 hero-title">Read More And Make Success The Result Of Perfection.</h3>

            <p class="section-text">Healthy eating is essential for maintaining a healthy body and  mind. It is a critical component of a healthy lifestyle and can help prevent chronic diseases such as heart disease, diabetes, and obesity. The food we eat plays a significant role in determining our health status. A balanced diet that includes a variety of nutrient dense
              foods is key to maintaining good health.
            </p>
            <button id="healthy-eating-btn" onclick="onOpen('https://play.google.com/store/books/details?id=DrSxEAAAQBAJ&pli=1')" class="btn btn-primary" type="button">Buy Now</button>
          </div>

          <div class="hero-banner has-before">
            <img src="{% static 'books/images/cbook1.jpeg'%}" width="431" height="596"
              alt="things i never said, a novel by claudia wilson" class="w-100">

            <button class="play-btn" aria-label="play video">
              <ion-icon name="play-outline" aria-hidden="true"></ion-icon>
            </button>
          </div>

        </div>
      </section>



      <section class="section hero" id="home" aria-label="home">

        <div class="container">

          <div class="hero-content">

            <p class="section-subtitle">2. Mental Health - Cureya</p>

            <h3 class="h1 hero-title">Mental Health Strategies for Managing Anxiety, Depression, and Other Mental Health Issues</h3>

            <p class="section-text">Mental health management is essential for overall well-being and quality of life. Mental health affects every aspect of a person's life, including physical health, relationships, work, and daily activities. Mental health management involves taking care of one's mental health by adopting healthy habits, seeking professional help when needed, and
                practicing self-care. The importance of mental health management cannot be overstated. Mental health disorders such as anxiety, depression, and bipolar disorder can affect anyone, regardless of age, gender, or background. These disorders can cause a range of symptoms, including feelings of sadness, fear, worry, and irritability. They can also cause physical symptoms such as headaches, fatigue, and digestive issues.
            </p>
               <button id="healthy-eating-btn" onclick="onOpen('https://www.amazon.in/dp/B0BXY72XV1/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=&sr')" class="btn btn-primary" type="button">Buy Now</button>

          </div>

          <div class="hero-banner has-before">
            <img src="{% static 'books/images/cbook2.jpeg'%}" width="431" height="596"
              alt="things i never said, a novel by claudia wilson" class="w-100">

            <button class="play-btn" aria-label="play video">
              <ion-icon name="play-outline" aria-hidden="true"></ion-icon>
            </button>
          </div>

        </div>
      </section>



      <section class="section achievement" id="achievements" aria-label="achievement">
        <div class="container">

          <p class="section-subtitle">Updates</p>

          <h2 class="h2 section-title has-underline">
            Upcoming Books
            <span class="span has-before"></span>
          </h2>

          <ul class="grid-list">

            <li>
              <div class="achievement-card">

                <figure class="card-banner img-holder" style="--width: 450; --height: 600;">
                  <img src="{% static 'books/images/cbook3.jpeg'%}" width="450" height="600" loading="lazy" alt="Nominated"
                    class="img-cover">
                </figure>

                <div class="card-content">



                  <h3 class="h3 card-title">Hormonal Harmony</h3>

                  <p class="card-text">
                    A Guide to Women's Health and Hormonal Balance
                  </p>

                </div>

              </div>
            </li>

            <li>
              <div class="achievement-card">

                <figure class="card-banner img-holder" style="--width: 450; --height: 600;">
                  <img src="{% static 'books/images/cbook4.jpeg'%}" width="450" height="600" loading="lazy" alt="Winner"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">Biomimcry</h3>

                  <p class="card-text">
                    Learning from Nature's Innovations
                  </p>

                </div>

              </div>
            </li>

            <li>
              <div class="achievement-card">

                <figure class="card-banner img-holder" style="--width: 450; --height: 600;">
                  <img src="{% static 'books/images/cbook5.jpeg'%}" width="450" height="609" loading="lazy"
                    alt="Guest of Honor" class="img-cover">
                </figure>

                <div class="card-content">



                  <h3 class="h3 card-title">Lifestyle Strategies for PCOS Management</h3>

                  <p class="card-text">
                    A Guide to Acing PCOS
                  </p>

                </div>

              </div>
            </li>

            <li>
              <div class="achievement-card">

                <figure class="card-banner img-holder" style="--width: 450; --height: 600;">
                  <img src="{% static 'books/images/cbook6.jpeg'%}" width="450" height="600" loading="lazy" alt="Finalist"
                    class="img-cover">
                </figure>

                <div class="card-content">



                  <h3 class="h3 card-title">Boon or Curse</h3>

                  <p class="card-text">
                    Artificial Intelligence
                  </p>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>


      <section>
        <div class="container">
          <p class="section-subtitle">Want to publish books?</p>

          <h2 class="h2 section-title has-underline">
            Lets Connect
            <span class="span has-before"></span>
          </h2>

          <form class="contact-form" method="post">
            {% csrf_token %}
            <input name="full-name" type="text" class="form-field" placeholder="Name" required>
            <input name="email" type="email" class="form-field" placeholder="Email" required>
            <input name="phone" maxlength="12" type="text" class="form-field" placeholder="Phone" required>
            <textarea name="information" type="text" class="form-field" placeholder="What you want to publish?" required></textarea>
            {% if msg %}
              <button type="submit" disabled class="form-field-btn">{{ msg }}</button>
            {% else %}
              <button type="submit" class="form-field-btn">Submit</button>
            {% endif %}
          </form>
        </div>
      </section>


  <!--
    - #FOOTER
  -->
    </article>
  <footer class="footer">
    <div class="container">

      <div class="footer-top">

        <a href="#" class="logo">Cureya</a>

        <ul class="footer-list">

          <li>
            <a href="/" class="footer-link">Home</a>
          </li>

          <li>
            <a href="/about" class="footer-link">About</a>
          </li>

          <li>
            <a href="/service" class="footer-link">Services</a>
          </li>

          <li>
            <a href="/contact" class="footer-link">Contact</a>
          </li>

        </ul>

      </div>

      <div class="footer-bottom">
        <p class="copyright">
          &copy; 2023 All right reserved. Made with ❤ by Cureya
        </p>
      </div>

    </div>
  </footer>



  <script>
    function onOpen(openLink) {
      window.open(openLink, "_blank");
    }
  </script>

  <!--
    - custom js link
  -->
  <script src="{% static 'books/js/script.js'%}" defer></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>