{% extends 'partials/_base.html' %}
{% block content %}

{% load static %}
<!-- Header Start -->
<div class="container-fluid" id="landing" style="display: flex; justify-content: center; background-color: #DDF7E3; background-size: fit; background-position: center center; background-repeat: no-repeat; height: 60vh; background-height: 100px;" >
  <div class="container" style="align-self: center; text-align: center;">
    <img class="mb-5" src="{% static '/img/cureyalogo.png' %}" style="height:70px ;width:200px">
    <h1>Find Best Healthcare Services Near You</h1>
    <p>Our geolocation-based app helps you locate and analyze healthcare services in your area, so you can find the best treatment for your needs.</p>
    <br>
    <a href="#" class="btn btn-success w-50 py-3">Go to App</a>
  </div>
</div>
<!-- Header End -->

    <!-- About Start -->
    <div class="container-xxl py-5" style="margin-top: 4rem">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <iframe class="img-fluid rounded w-100 h-100 align-self-end" src="https://www.youtube.com/embed/MhlMH0jD0sc" title="Opening Doors to a New Era of Care: Introducing CUREYA | CUREYA Services | @cureyarelax6782" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
                </div>
                <div class="col-lg-6">
                    <h1 class="mb-4">Why patients should trust CUREYA?</h1>
                    <p><strong class="fw-bolder">Accreditation:</strong> We are accredited by recognized regulatory bodies and have received certifications from reputable organizations, which demonstrates our commitment to providing high-quality healthcare services.</p>
                    <p><strong class="fw-bolder">Transparency:</strong> We provide transparent pricing, services, and medical procedures, so you can make informed decisions about your healthcare needs.</p>
                    <p><strong class="fw-bolder">Reputation:</strong> We have a reputation for providing high-quality medical services, and our positive customer reviews and ratings are a testament to our commitment to patient care.</p>
                    <p><strong class="fw-bolder">Security:</strong> We prioritize customer privacy and security, and we use secure data encryption, two-factor authentication, and compliance with data protection regulations to ensure that your personal information is safe and secure.</p>
                    <p><strong class="fw-bolder">Expertise:</strong> Our team of healthcare professionals includes experienced and qualified doctors, nurses, and other medical professionals who are dedicated to providing the best possible care to our patients.</p>
                  </div>

            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Services</p>
                <h1>Health Care Solutions</h1>
                <p>CUREYA is a geolocation-based application that helps you find the best healthcare services near you. With CUREYA , you can
                </p>
            </div>
            <div class="container wow fadeInUp" data-wow-delay="0.1s">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img src="{% static '/img/cc8.png'%}" class="card-img-top" alt="Dummy Image">
                      <div class="card-body">
                        <p class="card-text">Locate healthcare services in your area, including hospitals, clinics, and doctor's offices.</p>
                      </div>
                       <div class="card-footer bg-success">
                        <a href="#" class="btn btn-success w-100">Learn More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="{% static '/img/cc4.png'%}" class="card-img-top" alt="Dummy Image">
                      <div class="card-body">
                        <p class="card-text">Compare costs of healthcare services across different providers, making it easy for you to find the most affordable options. </p>
                      </div>
                      <div class="card-footer bg-success">
                        <a href="#" class="btn btn-success w-100">Learn More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="{% static '/img/cd1.jpg'%}" class="card-img-top " alt="Dummy Image"  style="">
                      <div class="card-body">
                        <p class="card-text">Book appointments online with your preferred healthcare provider.</p>
                      </div>
                       <div class="card-footer bg-success">
                        <a href="#" class="btn btn-success w-100">Learn More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="{% static '/img/ac4.jpg'%}" class="card-img-top" style="height:300px;"   alt="Dummy Image">
                      <div class="card-body">
                        <p class="card-text">Purchase medical books and other healthcare resources.</p>
                      </div>
                       <div class="card-footer bg-success">
                        <a href="#" class="btn btn-success w-100">Learn More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <!-- Service End -->

   <!-- Feature Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="d-inline-block border rounded-pill text-dark py-1 px-4">Features</p>
                    <h1 class="mb-4">Why Choose Us</h1>
                    <p><strong>Convenience:</strong> We offer a range of services that are designed to make accessing healthcare services more convenient, from booking appointments to home sample collection and online report access.</p>
                    <p><strong>Cost-effectiveness:</strong> We provide cost analysis services that help you compare the costs of healthcare services across different providers, making it easy for you to find the most affordable options.</p>
                    <p><strong>Trust and credibility: </strong> We value the trust our patients place in us and work hard to maintain our reputation for providing high-quality healthcare services.</p>
                    <p><strong>Personalization:</strong>  We offer personalized health recommendations that are tailored to your specific health needs and concerns.</p>
                    <p><strong>Privacy and security:</strong> At CUREYA, we prioritize customer privacy and security, and we use secure data encryption, two-factor authentication, and compliance with data protection regulations to ensure that your personal information is safe and secure.</p>
                    <p><strong>Affordable cost: </strong> We understand that healthcare costs can be a significant burden on patients and their families. That's why we offer affordable healthcare services that are accessible to everyone.</p>

                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded w-85 align-self-end" src="{% static 'img/ac5.jpg' %}" alt="">
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Feature End -->

    <!-- Appointment Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Appointment</p>
                    <h3>Are you interested to become a part of Medical books or other registration  ?</h3><h1 class="mb-4">Contact Us today </h1>

                    <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                    <div class="appoint rounded d-flex align-items-center p-5 mb-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-success"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Call Us Now</p>
                            <h5 class="mb-0">+91 99903 75133</h5>
                        </div>
                    </div>
                    <div class="appoint rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-envelope-open text-success"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Mail Us Now</p>
                            <h5 class="mb-0">info@cureya.in</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="appoint rounded h-100 d-flex align-items-center p-5">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input required name="patient_name" type="text" class="form-control border-0" placeholder="Your Name" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input required name="email" type="email" class="form-control border-0" placeholder="Your Email" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input required name="mobile" type="text" class="form-control border-0" placeholder="Your Mobile" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select name="doctor" required class="form-select border-0" style="height: 55px;">
                                        <option selected>Choose Doctor</option>
                                        <option value="1">Doctor 1</option>
                                        <option value="2">Doctor 2</option>
                                        <option value="3">Doctor 3</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input name="date_selected" type="text" required
                                            class="form-control border-0 datetimepicker-input"
                                            placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input name="time_selected" type="text" required
                                            class="form-control border-0 datetimepicker-input"
                                            placeholder="Choose Date" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea required name="problem" class="form-control border-0" rows="5" placeholder="Describe your problem"></textarea>
                                </div>
                                <div class="col-12">
                                    {% if msg %}
                                    <button class="btn btn-success w-100 py-3" type="submit" disabled>{{msg}}</button>
                                    {% else %}
                                    <button class="btn btn-success w-100 py-3" type="submit">Contact Us</button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->

{% endblock %}